.padding-50-px {
    padding: 50px !important;
}

.menu-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside_one {
    background-image: url("/images/hotel_images/one.jpeg");
}

.inside_two {
    background-image: url("/images/hotel_images/two.jpeg");
}

.inside_three {
    background-image: url("/images/hotel_images/three.jpeg");
}

.inside_four {
    background-image: url("/images/hotel_images/four.jpeg");
}

.h-main {
    height: calc(150vh - 100px);
}

.h-10px {
    height: 10px;
}

.vh100 {
    height: 100vh;
}

.padding-unset {
    padding: unset !important;
}

.padding-left-unset {
    padding-left: unset !important;
}

.padding-right-unset {
    padding-right: unset !important;
}

.padding-x-unset {
    padding-left: unset !important;
    padding-right: unset !important;
}

.margin-x-unset {
    margin-left: unset !important;
    margin-right: unset !important;
}

.carousel-image {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
}

.background_default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo_fixed {
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
    padding-top: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-image: url("/images/logo/logo_two.png");
}

.custom_header {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
}

.section_one {
    .section_one_card {
        max-width: 600px;
        padding: 80px 50px;
        background: rgba(241, 244, 246, 0.90);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.30);
    }
}

.section_four {
    .card_container {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.30);
        background-image: url("/images/antigua_images/antigua_guatemala.png");
        padding: unset !important;

        .section_four_card {
            background: rgba(30, 43, 49, 0.80);
            height: 100%;
            width: 100%;
        }

    }

}

.background_secondary_custom {
    background-color: #BBDC00 !important;
}
