.inside_one {
    background-image: url("/images/hotel_images/one.jpg");
}

.inside_two {
    background-image: url("/images/hotel_images/two.jpg");
}

.inside_three {
    background-image: url("/images/hotel_images/three.jpg");
}

.inside_four {
    background-image: url("/images/hotel_images/four.jpg");
}

.inside_five {
    background-image: url("/images/hotel_images/five.jpg");
}

.inside_six {
    background-image: url("/images/hotel_images/six.jpg");
}

.inside_seven {
    background-image: url("/images/hotel_images/seven.jpg");
}

.inside_nine {
    background-image: url("/images/hotel_images/nine.jpg");
}

.inside_eleven {
    background-image: url("/images/hotel_images/eleven.jpg");
}

.inside_twelve {
    background-image: url("/images/hotel_images/twelve.jpg");
}

.garden_one {
    background-image: url("/images/hotel_images/garden.jpg");
}

.garden_2_blurry {
    background-image: url("/images/hotel_images/garden_2_blurry.jpg");
}

.inside_1 {
    background-image: url("/images/hotel_images/inside_1.jpg");
}
