.medium_icon {
    font-size: 30px !important;
}

.large_icon {
    font-size: 45px !important;
}

.text_shadow_primary {
    text-shadow: 2px 2px 4px #000000 !important;
}

.p-100 {
    padding: 100px !important;
}
